/* navbar.css */
.bg-custom-gradient {
    background-image: linear-gradient(to right, var(--grad-start), var(--grad-end)) !important;
    background-color: unset !important;
    color: var(--text-on-primary) !important;
}

/* Ensure navbar content is readable on the gradient */
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .nav-item,
.navbar .dropdown-item {
    color: white!important;
    
}

.navbar .dropdown-item {
    color: white!important;
    background-image: linear-gradient(to right, var(--grad-start), var(--grad-end)) !important;
    background-color: unset !important;
    padding: 5 !important;
    
}
.dropdown-menu {
    padding:5 !important;
    
}
    background-color: var(--grad-start) !important;
.navbar .nav-link:hover,
.navbar .navbar-brand:hover,
.navbar .dropdown-item:hover {
    color: var(--text-on-primary) !important;
}