

/* Navigation Links */


/* Dropdown */



/* Search Icon */
.search-link {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.search-icon {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-link:hover .search-icon {
  transform: scale(1.2) rotate(15deg);
}


